<a href="https://colab.research.google.com/github/LeeJuAe124/AIpython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num1 = num1_str = int(input("첫 번째 정수를 입력하세요: "))
num2 = num2_str = int(input("두 번째 정수를 입력하세요: "))

if num1 > num2:
  print(f"{num1}은(는) {num2}보다 큽니다.")
elif num1 < num2:
  print(f"{num1}은(는) {num2}보다 작습니다.")
else:
  print(f"{num1}은(는) {num2}와 같습니다.")

첫 번째 정수를 입력하세요: 3
두 번째 정수를 입력하세요: 2
3은(는) 2보다 큽니다.

In [6]:
num1 = num1_str = int(input("첫 번째 정수를 입력하세요: "))
print(f"첫번째 수: {num1}")
num2 = num2_str = int(input("두 번째 정수를 입력하세요: "))
print(f"두번째 수: {num2}")
num3 = num3_str = int(input("세 번째 정수를 입력하세요: "))
print(f"세번째 수: {num3}")

max_num = num1

if num2 > max_num:
  print(f"{num2}가 {max_num}보다 큽니다.최댓값을 업데이트합니다. ")

  max_num = num2

else:
  print(f"{num2}가 {max_num}보다 크지않습니다. ")

if num3 > max_num:
  print(f"{num3}가 {max_num}보다 큽니다. 최댓값을 업데이트합니다. ")

  max_num = num3

else:
  print(f"{num3}가 {max_num}보다 크지않습니다. ")

print(f"\n입력하신 세 수 중에서 가장 큰 수는 {max_num}입니다. ")

첫 번째 정수를 입력하세요: 4
첫번째 수: 4
두 번째 정수를 입력하세요: 3
두번째 수: 3
세 번째 정수를 입력하세요: 2
세번째 수: 2
3가 4보다 크지않습니다.
2가 4보다 크지않습니다.

입력하신 세 수 중에서 가장 큰 수는 4입니다.

In [9]:
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))
num3 = int(input("세 번째 정수를 입력하세요: "))

max_num = num1

if num2 > max_num:
  max_num = num2
  #조건이 참이면 업데이트 시켜줘야함

if num3 > max_num:
  max_num = num3

print(f"\n가장 큰 수는 {max_num}")

첫 번째 정수를 입력하세요: 1213
두 번째 정수를 입력하세요: 93482
세 번째 정수를 입력하세요: 3248

가장 큰 수는 93482

In [10]:
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))
num3 = int(input("세 번째 정수를 입력하세요: "))
num4 = int(input("네 번째 정수를 입력하세요: "))

max_num = num1

if num2 > max_num:
  max_num = num2

if num3 > max_num:
  max_num = num3

if num4 > max_num:
  max_num = num4
print(f"\n가장 큰 수는 {max_num}")

첫 번째 정수를 입력하세요: 39847
두 번째 정수를 입력하세요: 293
세 번째 정수를 입력하세요: 4928
네 번째 정수를 입력하세요: 592839

가장 큰 수는 592839

In [33]:
score = int(input("점수 입력(0~100)"))

if 0 <= score <= 100:
  if score >= 90:
    grade = 'A'

  elif score >= 80:
    grade = 'B'

  elif score >= 70:
   grade = 'C'

  elif score >= 60:
    grade = 'D'

  else:
   grade = 'F'

  print(f"님 학점{grade}임")

점수 입력(0~100)78
님 학점C임

In [39]:
year = int(input())

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다. ")

4932
4932년은 윤년입니다.

In [56]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [55]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [77]:
print("0부터 9까지 출력")
for i in range(10):
  print(i)
print("for 루프 종료")

0부터 9까지 출력
0
1
2
3
4
5
6
7
8
9
for 루프 종료

In [74]:
count = 0

while count < 3:
  print(count)
  count += 1 # 하나씩 증가

0
1
2

In [67]:
n = int(input())

if n <= 0:
  print(f"n은 양의 정수여야함")
else:
  total = 0
  for i in range(1,n+1):
    total += i
  print(f"1부터 {n}까지의 합은: {total} 입니다.")

43
1부터 43까지의 합은: 946 입니다.

In [76]:
count = 0
while count < 10:
  print(count)
  count += 1

0
1
2
3
4
5
6
7
8
9