<a href="https://colab.research.google.com/github/LeeJuAe124/AIpython/blob/main/250404.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import random

my_list = ['하나', '둘', '셋']

pick = random.choice(my_list)
print(pick)

하나

In [7]:
list = []

num_list = [1,2,3,4,5]
fruits_list = ["사과","바나나", "딸기"]
mix_list = [1,"사과", True, 3,14]

print(fruits_list)

['사과', '바나나', '딸기']

In [10]:
import random

num = random.sample(range(1,45), 6)
print(num)

[18, 41, 4, 6, 19, 37]

In [12]:
import random
my_list = []
#빈 리스트 생성

for i in range(1,7):
  num = random.randint(1,45)
  my_list.append(num)

print(my_list)

[40, 26, 13, 10, 20, 4]

In [20]:
score = [85, 92, 78, 90, 87]
average = sum(score)/len(score)

print(average)

86.4

In [21]:
#변수 in 리스트 -> 리스트 값을 변수에
#sum, len 없이 평균 구하기

score = [85, 92, 78, 90, 87]
total = 0
count = 0

for num in score:
  total += num
  count += 1

average = total / count
print(average)

86.4

In [31]:
학생들 = [("철수", 85), ("영희", 92), ("민수", 65), ("지영", 78)]
합격자 = []

for 학생, 점수 in 학생들:
    if 점수 >= 70:
        합격자.append(학생)

print(합격자)

['철수', '영희', '지영']

In [32]:
fruits = ["사과", "바나나", "딸기", "포도"]
print(f"과일 리스트: {fruits}")

first_fruit = fruits[0] # 첫 번째 요소 (인덱스 0)에 접근
print(f"첫 번째 과일: {first_fruit}")

last_fruit = fruits[-1] # 마지막 요소 (인덱스 -1)에 접근
print(f"마지막 과일: {last_fruit}")

과일 리스트: ['사과', '바나나', '딸기', '포도']
첫 번째 과일: 사과
마지막 과일: 포도

In [33]:
fruits = ["사과", "바나나", "딸기", "포도"]
print(f"원래 과일 리스트: {fruits}")

fruits.append("오렌지")
print(f"요소 추가 후 리스트: {fruits}")

fruits.remove("바나나")
print(f"요소 삭제 후 리스트: {fruits}")

원래 과일 리스트: ['사과', '바나나', '딸기', '포도']
요소 추가 후 리스트: ['사과', '바나나', '딸기', '포도', '오렌지']
요소 삭제 후 리스트: ['사과', '딸기', '포도', '오렌지']

In [39]:
numbers = [1, 5, 12, 8, 21]
print("숫자 리스트의 요소: ")

for num in numbers:
  print(num, end=" ")

숫자 리스트의 요소:
1 5 12 8 21

In [40]:
colors = ["빨강", "초록", "파랑"]
print(f"원래 색깔 리스트: {colors}")

colors[1] = "노랑" # 인덱스 1의 "초록"을 "노랑"으로 변경
print(f"요소 변경 후 색깔 리스트: {colors}")

원래 색깔 리스트: ['빨강', '초록', '파랑']
요소 변경 후 색깔 리스트: ['빨강', '노랑', '파랑']

In [41]:
# 문제 5: 두 개의 리스트 합치기
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print(f"첫 번째 리스트: {list1}")
print(f"두 번째 리스트: {list2}")

# 방법 1: + 연산자 사용
combined_list_plus = list1 + list2
print(f"두 리스트 합치기 (+) 결과: {combined_list_plus}")

# 방법 2: extend() 메서드 사용
list1.extend(list2)
print(f"첫 번째 리스트에 두 번째 리스트 확장 (extend()): {list1}")

첫 번째 리스트: [1, 2, 3]
두 번째 리스트: [4, 5, 6]
두 리스트 합치기 (+) 결과: [1, 2, 3, 4, 5, 6]
첫 번째 리스트에 두 번째 리스트 확장 (extend()): [1, 2, 3, 4, 5, 6]